{% extends 'password/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



	
	<div class="row">

		<div class="mx-auto col-8 col-md-6 col-lg-4 " style="margin-top: 10%;">
		  <!-- Form -->
		  <form method="POST" action="" class="bg-white shadow-lg p-5 text-dark text-center">
			{% csrf_token %}
			
		   
		   <img src="{% static 'images/techedge.png' %}" width="200px" class="img-fluid mb-2" alt="Sample image" />
			<h6 className="text-center  mt-3 mb-5  p-3 shadow-lg " style="color: #174291;" ><span>PASSWORD RESET</span></h6>
         

		   <hr>
<!-- 		 
		   <div class="form-group mb-4 mt-3">
			<label for="password"><small>Email Address</small></label>
			 <div class="input-group mt-2">
				 <span class="input-group-text " id="basic-addon2">
					 <span class=" fas fa-envelope"></span>
				 </span>
				 {% render_field  form.email class="form-control form-control-sm bg-light" placeholder="e.g. email@gmail.com" %} 
				 {{ form.email.errors }} 
			 </div>  
		   </div> -->
		   <div className="form-group mb-2">
			<label for="email"><small>Enter Email Address Below</small></label>
			<div className="input-group mt-2">
			  <span className="input-group-text " id="basic-addon2">
				<span className=" fas fa-envelope"></span>
			  </span>
			  {% render_field  form.email class="form-control form-control-sm bg-light" placeholder="e.g. email@gmail.com" %} 
			  {{ form.email.errors }} 
			</div>  
		  </div>
		   <div class="text-center text-lg-start mt-4 pt-2 mb-5">
			 <div>
				 <button type="submit" name="register" class="button3 btn-warning" >Submit Password Reset</button>
			 </div>
		   </div>
		   <div class="text-center">
			 <a href='https://dsscorpdevsdk.techedge.dev/login' class=' btn btn-primary'><small >Back to Login?</small></a>
		   </div>
	 
		</form>
		  <!-- Form end -->
		</div>
	  </div>



            
{% endblock %}
